<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shaka Player + Shaka Packager tests</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.3.0/shaka-player.compiled.debug.externs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/shaka-player/2.3.0/shaka-player.compiled.debug.js"></script>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
      }

      video {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <video id="video" controls autoplay></video>
    <script>
      const manifestUri = "http://localhost:{{port}}/live.mpd";
      shaka.polyfill.installAll();
      if (shaka.Player.isBrowserSupported()) {
        const video = document.getElementById("video");
        const player = new shaka.Player(video);

        player.addEventListener("error", (err) => {
          console.log(err);
        });
        player.load(manifestUri).then(() => {
          console.log("The video has been loaded");
        });
        window.player = player;
        window.video = video;
      }
    </script>
  </body>
</html>
