<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="5,url=http://localhost:{{port}}/">
    <title>Shaka Player + Shaka Packager tests</title>
    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Stream is not ready yet</h1>
      <p>Refreshing in <span>5</span>...</p>
      <script>
        const start = Date.now();
        setInterval(() => {
          const elapsed = Math.floor((Date.now() - start) / 1000);
          const left = 5 - elapsed;
          document.querySelector("span").textContent = left;
        }, 500);
      </script>
    </div>
  </body>
</html>
